@import 'reset';

.ad-banner {
    width: 100%;
    height: 100vh;
    color: red;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}